.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px; /* Add padding for small screens */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.about-content h2, .about-content h3 {
    font-weight: bold;
    color: #06446B;
}

.about-content h2 {
    font-size: 2rem; /* Adjust for responsive font size */
    margin-bottom: 20px;
}

.about-content h3 {
    font-size: 1.5rem; /* Adjust for responsive font size */
    margin-top: 30px;
}

.about-content p, .about-content ul li {
    color: #333333;
}

.about-content ul {
    padding-left: 200px;
}

.about-content ul li {
    margin-bottom: 10px;
    list-style-type: disc;
}

.footer {
    background-color: white;
    color: black;
    padding: 10px 0;
    margin-top: auto;
}

.footer .container {
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 100px;
    margin-bottom: 10px;
}

.footer p {
    margin: 0 0 10px;
}

.footer a {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .about-content h2 {
        font-size: 1.8rem;
    }
    
    .about-content h3 {
        font-size: 1.4rem;
    }
    
    .footer .container {
        text-align: center;
    }
    
    .footer img {
        margin-bottom: 15px;
    }
}