
.catalog-banner {
    position: relative;
    padding: 50px 5px;
    background: linear-gradient(90deg, #0F5078, #084a67);
    color: white;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.catalog-banner h1 {
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 2;
    position: relative;
}

.catalog-banner p {
    font-size: 1.2rem;
    margin-top: 10px;
    z-index: 2;
    position: relative;
}

.catalog-banner::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 1;
}

.catalog-banner::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 1;
}

.catalog-banner .shape {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20%;
    z-index: 1;
}

.catalog-banner .shape-1 {
    width: 100px;
    height: 100px;
    top: 20px;
    left: 30%;
}

.catalog-banner .shape-2 {
    width: 150px;
    height: 150px;
    bottom: 30px;
    left: 10%;
}

.catalog-banner .shape-3 {
    width: 80px;
    height: 80px;
    top: 50px;
    right: 20%;
}

.catalog-banner .shape-4 {
    width: 120px;
    height: 120px;
    bottom: 20px;
    right: 10%;
}


.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px; /* Add padding for small screens */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.about-content h2, .about-content h1 {
    font-weight: bold;
    color: #06446B;
}

.about-content h2 {
    font-size: 2rem; /* Adjust for responsive font size */
    margin-bottom: 20px;
}

.about-content h1 {
    font-size: 2.5rem; /* Adjust for responsive font size */
    margin-top: 30px;
}

.about-content p{
    font-size: 1.2rem;
}

.about-content ul {
    color: #333333;
    padding-left: 200px;
}

.about-content ul li {
    margin-bottom: 10px;
    list-style-type: disc;
}

@media (max-width: 768px) {

    .about-content ul {
        padding-left: 15px;
    }

    .about-content h1,
    .about-content h2 {
        text-align: center; /* Center headings for better mobile layout */
        margin-top: 30%;
    }

    .about-content p {
        text-align: justify; /* Improve readability on small screens */
    }
}