  /* Container with background color */
  .emp-info-container {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 8px;
    height: 182vh;
}


/* Button styles */
.btn-primary {
    background-color: #0F5078;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.btn-primary:hover {
    background-color: #0C3E5A;
}


/* Table styles */
table th, table td {
    text-align: center;
    vertical-align: middle;
}

 /* Tab styles */
 .custom-tabs {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.custom-tab {
    position: relative;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding-bottom: 5px;
}

.custom-tab:hover, .custom-tab.active {
    color: #0F5078;
}

.custom-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0F5078;
    transition: width 0.3s ease-in-out;
}

.custom-tab:hover::after, .custom-tab.active::after {
    width: 100%;
}

.border-dotted {
    border-style: dotted;
    color: #0C3E5A;
}

/* Profile picture container */
.profile-pic {
    width: 192px;  /* 2 inches in pixels */
    height: 192px; /* 2 inches in pixels */
    margin-top: 20px;
    border-radius: 50%;  /* Makes the image a circle */
    border: 2px dashed #ccc; /* Dashed border to indicate placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Placeholder image */
#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Style for when no image is uploaded yet */
#profile-img::before {
    content: "No Image Uploaded";
    font-size: 14px;
    color: #999;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}
