
.catalog-banner {
    position: relative;
    padding: 50px 5px;
    background: linear-gradient(90deg, #0F5078, #084a67);
    color: white;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.catalog-banner h1 {
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 2;
    position: relative;
}

.catalog-banner p {
    font-size: 1.2rem;
    margin-top: 10px;
    z-index: 2;
    position: relative;
}

.catalog-banner::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 1;
}

.catalog-banner::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 1;
}

.catalog-banner .shape {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20%;
    z-index: 1;
}

.catalog-banner .shape-1 {
    width: 100px;
    height: 100px;
    top: 20px;
    left: 30%;
}

.catalog-banner .shape-2 {
    width: 150px;
    height: 150px;
    bottom: 30px;
    left: 10%;
}

.catalog-banner .shape-3 {
    width: 80px;
    height: 80px;
    top: 50px;
    right: 20%;
}

.catalog-banner .shape-4 {
    width: 120px;
    height: 120px;
    bottom: 20px;
    right: 10%;
}

   /* Map Styling */
   .map-container {
    position: relative;
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin-bottom: -3%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Contact Form and Info Styling */
.contact-form, .contact-info {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-info {
    background-color: #0F5078;
    color: white;
}

.contact-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-container > div {
    flex: 1;
    max-width: 60%;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: stretch;
    }

    .contact-container > div {
        max-width: 100%;
        margin-bottom: 2rem; /* Adds spacing between the form and info */
    }
}

