  /* Container with background color */
  .applicant-container {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 8px;
    height: 193vh;
}

/* Status badge styles */
.status-badge {
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}
.badge-scheduled { background-color: #4CAF50; color: white; }
.badge-in-process { background-color: #FFC107; color: white; }
.badge-rejected { background-color: #F44336; color: white; }

/* Status select styles */
.status-select {
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
}

.status-select option {
    font-weight: bold;
}
.status-select option[value="Scheduled"] {
    background-color: #4CAF50;
    color: white;
}

.status-select option[value="In Process"] {
    background-color: #FFC107;
    color: white;
}

.status-select option[value="Rejected"] {
    background-color: #F44336;
    color: white;
}

/* Button styles */
.btn-primary {
    background-color: #0F5078;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.btn-primary:hover {
    background-color: #0C3E5A;
}

.export-buttons {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    order: 1; /* Ensures the button stays on the right side */
}

.export-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 12px;
    background-color: #0f5078;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.export-button:hover {
    background-color: #075c84;
}

/* Table styles */
table th, table td {
    text-align: center;
    vertical-align: middle;
}

 /* Tab styles */
 .custom-tabs {
    display: flex;
    gap: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.custom-tab {
    position: relative;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding-bottom: 5px;
}

.custom-tab:hover, .custom-tab.active {
    color: #0F5078;
}

.custom-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0F5078;
    transition: width 0.3s ease-in-out;
}

.custom-tab:hover::after, .custom-tab.active::after {
    width: 100%;
}
 
/* Add this CSS to style the placeholder text */
.dataTables_filter input::placeholder {
    color: #0c436d; /* Set the placeholder color */
    font-weight: 600; /* Set the font weight of the placeholder */
}
