body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: -30px;
    margin-bottom: -30px;
}

/* header .logo h1 {
    font-size: 24px;
    margin: 0;
} */

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    display: flex;
    align-items: center;
    padding: 40px;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
}

.image-container img {
    width: 400px;
    margin-right: 40px;
}

.divider {
    width: 2px;
    background-color: #ddd;
    height: 400px;
    margin-right: 40px;
}

.form-container {
    flex: 1;
    max-width: 400px;
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.forgot-password-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.form-container button {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container .forgot-password {
    color: #007bff;
    text-decoration: none;
}

.form-container .forgot-password:hover {
    text-decoration: underline;
}

.form-container p {
    margin-top: 15px;
}

.form-container p a {
    color: #007bff;
    text-decoration: none;
}

.form-container p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #06446B;
    color: white;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

input.error {
    border-color: #F23E3E;
}

.warning {
    color: #F23E3E;
    display: none;
    font-size: 12px;
    margin-top: -27px;
    margin-bottom: 15px;
}